<main class="todoapp">

  <header class="header">
    <h1>todos</h1>
    
      <label class='toggle-all'>
        mark as completed
      </label>
      <input class="new-todo" placeholder="What needs to be done" [(ngModel)]='inputText' autofocus (keydown)='textchange($event)'>

    
    
  </header>
  <section class="main">
    <app-complete-all ></app-complete-all>
    <app-todos-list ></app-todos-list>
  </section>
  <footer class="footer">
    <span class="todo-count">{{countRemaining()}} item left</span>
    <ul class="filters">
      <li>
        <a (click)="filterSelected('All')" [ngClass]="{'selected': activeFilter==='All' }">All</a>
      </li>
      <li>
        <a (click)="filterSelected('Active')" [ngClass]="{'selected': activeFilter==='Active' }">Active</a>
      </li>
      <li>
        <a (click)="filterSelected('Completed')" [ngClass]="{'selected': activeFilter==='Completed' }">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)='clearCompleted()'>Clear completed</button>
  </footer>
</main>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by - Saurabh Tiwari</p>
  <p>Email - saurabh.tiwari.sde@gmail.com</p>

</footer>